* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "cabecalho"
        "principal"
        "rodape";
}

.cabecalho {
    grid-area: cabecalho;
    background-color: rgb(26, 25, 25);
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.cabecalho>h1 {
    margin: 0px;
    font-weight: 400;
    font-size: 2.8rem;
}

.cabecalho>h2 {
    margin: 0px;
    font-weight: 200;
    font-size: 1.7rem;
}

.principal {
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: rgb(175, 136, 211);
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rodape {
    grid-area: rodape;
    background-color: rgb(26, 25, 25);
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    font-size: 1.2rem;
}

.modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulo {
    flex-basis: 30%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.modulo h3 {
    margin: 0px;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: rgb(71, 27, 112);
}

.modulo ul {
    margin: 0px;
    padding: 10px;
    list-style: none;
}

.modulo ul li {
    padding: 8px;
    font-size: 1.2rem;
    cursor: pointer;
}

.modulo ul li a {
    display: flex;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.modulo ul li:hover {
    background-color: #EEE;
}

.modulo.verde {
    border: 2px solid #29752b;
}

.modulo.verde>h3 {
    background-color: #29752b;
}

.modulo.vermelho {
    border: 2px solid #531212;
}

.modulo.vermelho>h3 {
    background-color: #531212;
}

.modulo.azul {
    border: 2px solid #536ec7;
}

.modulo.azul>h3 {
    background-color: #536ec7;
}

.modulo.roxo {
    border: 2px solid #421d46;
}

.modulo.roxo>h3 {
    background-color: #421d46;
}

.modulo.laranja {
    border: 2px solid #ad6615;
}

.modulo.laranja>h3 {
    background-color: #ad6615;
}

.modulo.verde-dif {
    border: 2px solid #123613;
}

.modulo.verde-dif>h3 {
    background-color: #123613;
}

.modulo.azul-claro {
    border: 2px solid #3d99b4;
}

.modulo.azul-claro>h3 {
    background-color: #3d99b4;
}

.modulo.preto {
    border: 2px solid #111010;
}

.modulo.preto>h3 {
    background-color: #111010;
}

.modulo.rosa {
    border: 2px solid #5a0a49;
}

.modulo.rosa>h3 {
    background-color: #5a0a49;
}

.btn-box {
    padding: 10px 0px 10px 0px;
    height: 55px;
}
.btn-box button{
    background-color: #536ec7;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    cursor: pointer;
}
.btn-box button:hover{
    background-color: #183239;
}
.btn-flex-position{
    display: flex;
    justify-content: space-evenly;
}
.links button a{
    text-decoration: none;
    color: #fff;
}
.btn button{
    border-radius: 5px;
    height: 45px;
    width: 140px;
}
p.divisao {
    font-weight: bold;
}
hr{
    margin-top: -20px;
}