* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "cabecalho"
        "principal"
        "rodape";
}

.cabecalho {
    grid-area: cabecalho;
    background-color: rgb(26, 25, 25);
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.cabecalho>h1 {
    margin: 0px;
    font-weight: 400;
    font-size: 2.8rem;
}

.cabecalho>h2 {
    margin: 0px;
    font-weight: 200;
    font-size: 1.7rem;
}

.principal {
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: rgb(175, 136, 211);
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rodape {
    grid-area: rodape;
    background-color: rgb(26, 25, 25);
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    font-size: 1.2rem;
}